.row {
    position: relative;

    label {
        display: block;
        margin-bottom: .5em;
    }

    input {
        display: inline-block;
        width: 100%;
        max-width: 500px;
        outline: none;
        border: none;
        background-color: transparent;
        padding: .5em;
        border-bottom: 1px solid #aaaaaa;
        color: #ffffff;
        font-size: 1em;

        &:focus,
        &:active {
            border-color: #ffffff;
            outline: none;
        }
    }

    img {
        display: inline-block;
        margin-left: 1em;
        background-color: #696969;
        height: 1.5em;
        width: 2em;
        position: absolute;
        border-radius: 50%;
        bottom: 0;
        opacity: .5;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    button {
        position: absolute;
        bottom: 0;
        display: inline-block;
        margin-left: 1em;
        padding: 0 1em;
        background-color: transparent;
        color: #dddddd;
        font-size: .6em;
        line-height: 2em;
        border: 1px solid #ffffff;
        opacity: .5;
        cursor: pointer;
        border-radius: .4em;
        -webkit-border-radius: .4em;
        -moz-border-radius: .4em;
        -ms-border-radius: .4em;
        -o-border-radius: .4em;
        transition: opacity .3s ease;
        -webkit-transition: opacity .3s ease;
        -moz-transition: opacity .3s ease;
        -ms-transition: opacity .3s ease;
        -o-transition: opacity .3s ease;

        &:hover {
            opacity: 1;
        }
    }
}