.card {
    max-width: 230px;
    margin: 1em;
}

.active {
    // transform: translate(50%);
    // -webkit-transform: translate(50%);
    // -moz-transform: translate(50%);
    // -ms-transform: translate(50%);
    // -o-transform: translate(50%);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
}