@keyframes appear {
    from {
        transform: scale(.1);
        -webkit-transform: scale(.1);
        -moz-transform: scale(.1);
        -ms-transform: scale(.1);
        -o-transform: scale(.1);
    }
    to {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
  }
  
  .card {
    width: 230px;
    margin: 1em;
    background-color: #484848;
    border-radius: 1em;
    padding: 1em;
    cursor: pointer;
    opacity: .6;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    animation: appear .3s ease;
    -webkit-animation: appear .3s ease;

    &:hover {
        opacity: 1;
        box-shadow: 4px 4px 6px rgba(0,0,0,.2);
    }
}

.active {
    opacity: 0;
}